/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*-------------------
  BUTTON
-------------------*/

.btn {
    background-color: #0061ff;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
}

/*-------------------
   HEADER
-------------------*/

.header-sec {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    align-items: center;
}

.left {
    display: flex;

}

.left ul {
    list-style: none;
    gap: 10px;
    padding-left: 40px;


}

.right .left {
    margin-right: 10px;
}



.left img {
    width: 130px;
    height: 20px;
}

/*-------------------
   HERO
-------------------*/
.hero {
    height: 730px;
    background-color: #b4d0e7;
}

.hero h1 {
    font-weight: bold;
    font-size: 60px;
    padding-top: 20px;
    line-height: 1.5;

}

.row {
    display: flex;
    margin-top: 50px;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-30 .btn {
    width: 200px;
    margin-top: 30px;
}

.text {
    margin-top: 30px;
}

.box-30 i {
    font-size: 40px;
    margin-top: 70px;
}