/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}


/*-------------------
  BUTTON
-------------------*/

.btn {
    background-color: #0061ff;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
}

/*-------------------
   HEADER
-------------------*/

.header-sec {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    align-items: center;
}

.left {
    display: flex;

}

.left ul {
    list-style: none;
    gap: 10px;
    padding-left: 40px;


}

.right .left {
    margin-right: 10px;
}



.left img {
    width: 130px;
    height: 20px;
}

/*-------------------
   HERO
-------------------*/
.hero {
    background-color: #b4d0e7;
}

.hero h1 {
    font-weight: bold;
    font-size: 60px;
    padding-top: 60px;
    line-height: 1.5;

}

.hero .row {
    position: relative;
    bottom: -40px;
    margin-top: 20px;
}

.row {
    display: flex;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-30 .btn {
    width: 200px;
    margin-top: 30px;
}

.text {
    margin-top: 30px;
}

.box-30 i {
    font-size: 40px;
    margin-top: 70px;
}


/*-------------------
MAIN TYPOGRAPHY
-------------------*/

h5 {
    font-size: 15px;

}

.col-33 div {
    font-size: 14px;
}

/*-------------------
   MAIN SECTION-1
-------------------*/

.section-1 h1 {
    margin-top: 100px;
}

.invoices {
    margin-top: 40px;
}

.monthly {
    margin-right: 30px;
}

.row-main {
    margin-top: 20px;
    gap: 30px;
}

.col-33 {
    width: calc(100%/3);
    border: 1px solid #d0d0d3;


}



.content {
    padding: 40px;

}

.title-col {
    text-align: center;
}

.btn-col {
    width: 200px;
}

.up div {
    padding-top: 15px;
    font-size: 12px;
}

.characteristics {
    margin-top: 30px;

}

.characteristics ul {
    list-style: none;

}

.characteristics li {
    margin-top: 20px;
}

.buy {
    margin-top: 60px;
}

.buy>div {
    margin-top: 20px;
}

.highlits {
    margin-top: 100px;

}

.flex-highlits i {
    color: blue;
}

.flex {
    display: flex;
    margin-top: 20px;
}

li>div {
    padding-left: 10px;
}

/*-------------------
   MAIN SECTION-2
-------------------*/

.col-100 {
    width: 100%;
    height: 251px;
    border: 1px solid #d0d0d3;
    margin-top: 60px;


}

.top-100 {
    text-align: center;
    padding-top: 10px;

}

.content-2 {
    padding: 20px 40px;
}


.flex-section-2 {
    justify-content: space-between;
}

.flex-section-2 .btn {
    width: 180px;

}

.content h5 {
    margin-top: 20px;
    font-size: 12px;
}

.description {
    margin-top: 40px;
}

/*-------------------
   MAIN SECTION-3
-------------------*/
.section-3 {
    margin-top: 70px;
}

.box-60 {
    width: 60%;
}

.box-40 {
    width: 40%;
    padding: 40px 60px;
}

.box-40 p {
    margin-top: 20px;
    font-size: 14px;
}

.box-40 button {
    margin-top: 30px;
    background-color: transparent;
    padding: 8px;
    border: 1px solid #d0d0d3;
}

/*-------------------
   MAIN SECTION-4
-------------------*/

.section-4 {
    margin-top: 60px;
}

.section-4 h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.palla {
    display: flex;
    flex-grow: 3s;
}

.row-sec-4 {
    gap: 20px;
}

.col-sec-4 {
    border: none;
}

.col-sec-4 h4 {
    font-size: 19px;
}

.col-sec-4 p {
    margin-top: 30px;

}

.row-down {
    margin-top: 50px;
}

.col-50 {
    width: 50%;
    margin-top: 160px;
}